$ROAD: '/assets/img';


body{
    background: center/cover url("#{$ROAD}/statue.jpg") no-repeat;
    position: relative;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 80% 20%/100%
}

#MenuActive{
    backdrop-filter: blur(5px);
    // background-color: rgb(119, 8, 8);
    background-blend-mode:overlay;
 
}
h1,h2,p{
    text-shadow: 2px 2px 2px black;
}

.isMobile{

    main{
        grid-template: 100%/100%
    }
        display: grid;
        grid-template-rows: 100% /60% 40% ;
    
    #nav, #anim, #social{
        display: none;
    }
//  
    #toggle{
        display: block;
        position: fixed;
        right: 0;
        top: 5px;
        width: 60px;
        height: 60px;
        background: url(./assets/icone/menu.png);
        background-repeat: no-repeat;
        background-size: 30px;
        background-position: center;
        cursor: pointer;
        z-index: 9990;

        &.active {
            background: url(./assets/icone/close.png);
            background-repeat: no-repeat;
            background-size: 25px;
            background-position: center;
          }
          }
         
          #menu {
            position: relative;
            display: none;
            
            flex-direction: column;
            list-style: none;
            z-index: 10;
            
            position: fixed;
            top: 0;
            right: 0;
            width: 40%;
            height: 100%;
            
            align-items: center;
            justify-content: center;
            background: linear-gradient(
              90deg,
              rgba(2, 0, 36, 0.764) 5%,
              rgba(84, 10, 70, 0.709) 64%
            );
            transition: 0.2s ease;
            transform: translateX(150%);
            -webkit-transform: translateX(150%);

            #home, #about, #contact, #cases{
                padding: 8px;
            }
            li  {
                text-decoration: none;
                font-size: 24px;
                color: #fff;
                transition: 0.2s;
              }

            &.active {
                transform: translateX(0%);
                -webkit-transform: translateX(0%);
                display: flex;
                width: 100%;
              }
              #home.active, #about.active, #contact.active, #cases.active{
    
                border-right: 0px solid #fff;
                border-left: 0px solid #fff;
           
       }
           
          }
         
          
         
    header{

       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
        
        #info2{
           display: none;
        }
    }
    #main{
        grid-template: 100%/100%
    }

     .container_about{
         display:flex;
       
         
         font-size: 10px;

        
     }
     .container_home{
      
        #baseline{
           font-size: 15px; 
        }
        
        

       
    }
     .container_cases{
         
         grid-template: 20% 20% 50% 10% / 100%;
        height: 100vh;
        width: 100vw;
        & h1{
            display: none;
        }
        & ul {
            grid-area: 4/1/4/1;
        }
        & p{
            grid-area: 3/1/3/1
        }
     }

     .container_contact{
        display: grid;
        position: relative;
        grid-template: 40% 60% /100%;
        #leftContact{
            background-color: rgba(255, 255, 255, 0.381);
            border-radius: 5px;
            height: 40%;
        
        }

        & canvas{
             place-self: center;
            grid-area: 2/1/2/1;
            cursor: no-pointer;
            pointer-events: none; 
        }
        h1{
            
            place-self: center;
             
             top: 25%;
             font-size: 15px;
        }
        ul{
            // margin-top: 15%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
      

    }
}