$ROAD: '/assets/img';


body{
    background: center/cover url("#{$ROAD}/statue.jpg") no-repeat;
    position: relative;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 80% 20%/100%
}

#questionMark{
    font-family: ak;
    font-weight: 50px;
}
#MenuActive{
    backdrop-filter: blur(5px);
    // background-color: rgb(119, 8, 8);
    background-blend-mode:overlay;
 
}
h1,h2,p{
    text-shadow: 2px 2px 2px black;
}

