header{
    display: grid;
    grid-template: 10vh 10vh/ 20vw 10vw 10vw 60vw;
    place-items: center;
    color: var(--white);
   
   
    #social li a span{
      font-family: ak;

    }
    #social li a strong{
      letter-spacing: 2px;
    }
    
    &> a {
      margin-left: 10px;
      grid-area: 1/1/2/5;
      color: var(--white);
      font-family: Druk;
      font-weight:500px;
      font-style: normal;
      font-stretch: normal;
      font-size: 40px;
      text-transform: uppercase;
      text-decoration: none;
      line-height: .85em;
      backface-visibility: hidden;
      place-self: start;
      // transition: all .2s ease-in-out .05s, transform .5s cubic-bezier(0.86, 0, 0.07, 1) .25s;   
    }
    &>ul>li{
      font-family: ak;
      color: var(--white);
      list-style: none;
      text-decoration: none;

     

    }
    &>ul>li>a{
      font-family: druk;
      color: var(--white);
      list-style: none;
      text-decoration: none;      
    }
    & #logo{
      margin-top: 5px;
     
    }
    
  }

  @media screen and (min-width: 904px){
   header{
   grid-template: 10vh 10vh/ 15vw 15vw 15vw 70vw;
    }
    
  };

  @media screen and (max-width: 770px){
    header{
      grid-template: 10vh 10vh/ 20vw 20vw 20vw 70vw;
       }
  }
  @media screen and (max-height:790px){
    #logo{
      font-size: 30px;
    }
    
  }
  @media screen and (max-width: 903px) {
    header{

grid-template: 10vh 10vh/ 35vw 20vw 20vw 25vw;
    };
    
    
  }
 
 