main {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template: 80vh/  20% 80%;
  transition: margin-right 4s cubic-bezier(0.47, 0, 0.745, 0.715);



}

#nav{
    g > foreignObject > button {
        background: none;
        border: none;
        text-transform: uppercase;
        color: var(--white);
        font-family: lemonlight;
        font-size: 1.5vw;
        font-weight: 800;
        letter-spacing: 0.1em;
        margin-left: 10%;
      }
    g > text {
        font-family: ak;
        text-transform: uppercase;
        letter-spacing: 0.2em;
       
    }
}


@media screen and (max-width: 790px){ 
 
  #nav{
    
     g > foreignObject > button {
       
        text-transform: uppercase;
        letter-spacing: 0.2em;
        font-size: 1.5vw ;
       
    }
}

}
@media screen and (max-height: 724px){
  #anim{
    g > text{
          display: none;
    }
  }

}




