@font-face {
  font-family: hand;
  src: url("./asset/font/Vogue.ttf");
}
@font-face {
  font-family: "Druk";
  src: url("./asset/font/Druk.ttf");
}
@font-face {
  font-family: Ak;
  src: url("./asset/font/Akzidenz.ttf");
}
@font-face {
  font-family: Mael;
  src: url("./asset/font/MaelstromBold.ttf");
}
:root {
  --raisin-black: #131313;
  --dark-liver: rgba(71, 71, 77, 1);
  --eerie-black: rgba(30, 30, 30, 1);
  --smoky-black: rgba(12, 11, 10, 1);
  --onyx: rgba(66, 65, 70, 1);
}

.displayNone {
  display: none;
}

* {
  list-style: none;
}

div {
  display: block;
}

a {
  text-decoration: none;
  color: #fff;
  background: transparent;
}

html {
  scroll-behavior: smooth;
}

#bg {
  pointer-events: none;
}

.noOverFlow {
  overflow: hidden;
}

section {
  height: 100vh;
  width: 100vw;
}

section {
  position: relative;
}

#AboutAncre, #ProjectAncre, #ContactAncre {
  position: absolute;
  top: 0;
  left: 0;
  transition: cubic-bezier(0.47, 0, 0.745, 0.715);
}

svg {
  z-index: 1000;
  position: fixed;
  top: 20%;
  left: 2%;
}
svg g text {
  fill: white;
  cursor: pointer;
}

.isDesktop {
  padding: 0;
  margin: 0;
  font-family: AK, sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 100vh;
  position: relative;
  /*! about */
  /* contact */
}
.isDesktop.home-page {
  /* background:#4801ff;  */
  background-color: #000;
  position: relative;
  overflow: hidden;
  /* background: url("./asset/img/herobg-hd.webp");  */
  background-blend-mode: color;
  width: 100%;
  margin-inline: auto;
}
.isDesktop h1, .isDesktop h2, .isDesktop h3, .isDesktop h4, .isDesktop h5, .isDesktop h6, .isDesktop strong {
  font-family: AK;
  font-weight: 500;
}
.isDesktop .toggle {
  position: fixed;
  right: 0;
  top: 5px;
  width: 60px;
  height: 60px;
  background: url(./asset/icone/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
  z-index: 9990;
}
.isDesktop .toggle.active {
  background: url(./asset/icone/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}
.isDesktop .menu {
  overflow: hidden;
  visibility: hidden;
  z-index: 1000;
  color: #fff;
  background-color: rgba(66, 65, 70, 0.756);
  position: fixed;
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease;
  transform: translateX(150%);
}
.isDesktop .menu.active {
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
  visibility: visible;
}
.isDesktop .menu ul li a strong {
  font-family: Ak;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 40px;
  color: #fff;
  transition: 0.2s;
}
.isDesktop .menu ul li a:hover {
  color: var(--onyx);
  background: #fff;
}
.isDesktop #bc {
  clip-path: polygon(50% 0, 0 50%, 50% 100%, 100% 50%);
  background: center url("./asset/img/statue.jpg");
  /* background-color: #6021fff4;
  background-blend-mode:color-burn; */
  position: absolute;
  height: 200vh;
  width: 200vw;
  transition: 0.25s linear;
}
.isDesktop .ui {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  position: absolute;
  bottom: 0px;
  left: 0%;
  z-index: 2;
  width: 100%;
  height: 30vh;
  color: #fff;
  transition: 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);
}
.isDesktop .ui li :hover {
  transform: scale(0.7) translateY(-15px);
}
.isDesktop .date {
  color: #fff;
  height: 35vh;
  width: 35vw;
  margin-left: 60%;
  z-index: 2;
  position: relative;
}
.isDesktop .date::before {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  height: 8vh;
  width: 8vw;
  background-color: #fff;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 500;
}
.isDesktop .smallbc {
  height: 35vh !important;
  width: 35vw !important;
}
.isDesktop .ui .info {
  display: flex;
  justify-content: space-between;
}
.isDesktop .ui .logo {
  display: block;
  position: absolute;
  bottom: 20vh;
  left: 60px;
  z-index: 1;
  font-family: Druk;
  font-weight: 500px;
  font-style: normal;
  font-stretch: normal;
  font-size: 40px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 0.85em;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: all 0.2s ease-in-out 0.05s, transform 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0.25s;
}
.isDesktop .slideUp span {
  display: block;
  transform: translateY(120%);
  animation: h 1s forwards;
}
.isDesktop #Baseline {
  font-family: Mael;
  font-size: 14rem;
  font-weight: 2vw;
  color: #fff;
  width: 30%;
  height: 15%;
  position: absolute;
  top: 0;
  left: 2%;
  z-index: 2;
  text-transform: lowercase;
}
.isDesktop .ui li span {
  transition: 0.5s;
  margin-right: 15px;
  font-size: 10px;
}
.isDesktop .info {
  font-family: AK;
  display: inline-block;
  width: 100%;
}
.isDesktop .ui .left, .isDesktop .ui .right {
  align-items: flex-end;
}
.isDesktop .ui .left {
  width: 70%;
  display: flex;
}
.isDesktop .ui .right {
  display: flex;
  position: relative;
  width: 30%;
  max-width: 250px;
  justify-content: space-between;
}
.isDesktop .ui .copyright {
  display: none;
}
.isDesktop .ui .contact {
  display: flex;
}
.isDesktop #day {
  font-family: Mael;
  font-size: 14rem;
  font-weight: 2vw;
}
.isDesktop main {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.isDesktop .about {
  height: 100vh;
  width: 100vw;
  background-color: var(--raisin-black);
  display: flex;
  align-items: center;
  color: white;
  position: relative;
}
.isDesktop .aboutContainer {
  background-color: var(--raisin-black);
  height: 100vh;
  width: 47%;
  margin-left: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.isDesktop .about h1 {
  font-family: Druk;
}
.isDesktop .about h1 {
  font-weight: 400px;
  font-size: 35px;
}
@media screen and (max-width: 999px) {
  .isDesktop .about h1, .isDesktop .about p {
    font-size: 15px;
  }
}
.isDesktop .about p {
  width: 90%;
  font-weight: 400px;
  font-size: 30px;
  line-height: 1.3em;
  text-transform: lowercase;
}
.isDesktop #bg {
  z-index: 20;
  width: 100%;
  height: 100%;
  width: 40%;
  height: 100vh;
}
@media screen and (max-width: 1315px) {
  .isDesktop .about h1, .isDesktop .about p {
    font-size: 25px;
  }
}
@media screen and (max-width: 920px) {
  .isDesktop .about h1, .isDesktop .about p {
    font-size: 20px;
  }
  .isDesktop .about {
    flex-direction: column-reverse;
  }
  .isDesktop .aboutContainer {
    width: 100% !important;
    height: 50% !important;
  }
}
@media screen and (max-width: 680px) {
  .isDesktop .about h1, .isDesktop .about p {
    font-size: 15px;
  }
  .isDesktop .about {
    flex-direction: column-reverse;
  }
  .isDesktop .aboutContainer {
    width: 100% !important;
    height: 50% !important;
  }
}
@media screen and (max-width: 560px) {
  .isDesktop .about h1, .isDesktop .about p {
    font-size: 10px;
  }
  .isDesktop .about {
    flex-direction: column-reverse;
  }
  .isDesktop .aboutContainer {
    width: 100% !important;
    height: 50% !important;
  }
}
.isDesktop #contact {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #56555B;
}
@media screen and (max-width: 810px) {
  .isDesktop .links {
    display: none;
  }
  .isDesktop .date {
    margin-left: 30%;
  }
}
.isDesktop .projects {
  background-color: #56555B;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.isDesktop .projects .cards {
  display: grid;
  margin-top: 30vh;
  margin-left: 5vh;
  width: 100%;
  height: 80%;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.isDesktop .projects h1 {
  font-family: hand;
  font-size: 8rem;
  margin-top: 0;
  margin-left: 2%;
  position: relative;
}
.isDesktop .projects h1::before {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  height: 4vh;
  width: 4vw;
  background-color: #fff;
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
}
.isDesktop .projects h1::after {
  height: 4vh;
  width: 15vw;
  font-size: 2rem;
  font-family: hand;
  content: "*SELECTED PROJECT IN ANCIENT GREEK";
  position: absolute;
  top: 100%;
  right: 50;
}
.isDesktop .projects .projectCards {
  width: 20%;
  height: 20%;
  border: solid 2px #fff;
}

@keyframes Disclaimer {
  0% {
    transform: translateX(100%);
  }
  99.9% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.getInTouch {
  border: solid 2px red;
  background-color: var(--raisin-black);
  display: flex;
  flex-direction: column;
  height: 100b;
}
.getInTouch #disclaimer {
  height: 15%;
  width: 100%;
  color: #fff;
  animation: Disclaimer 10s linear infinite;
}
.getInTouch #disclaimer h2 {
  display: inline-block;
  font-family: hand;
  font-size: 2rem;
  text-transform: uppercase;
}
.getInTouch #contact {
  background-color: var(--raisin-black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.getInTouch .contactContainer, .getInTouch .coffee {
  width: 50%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  height: 100vh !important;
}

/*# sourceMappingURL=style.css.map */
