.main_cases{
   
    
    // background: linear-gradient(45deg, rgba(255, 0, 0, 0.378) 20% ,rgba(128, 128, 128, 0.402) 0% 0%, rgba(255, 0, 0, 0.373) 100% 100%);
    backdrop-filter: blur(5px);

}
 .txt1 {
    grid-area: 1/1/1/3
}

.container_cases{ display: grid;
    align-items: center;
    text-align: center;
    
    grid-template: 33% 47% 20% /60% 40%;
    opacity: 0;
    position: relative;
    
    
    width: 100%;
    height: 100%;
    color:#fff;
    font-family: druk;
    
    
   
   
    line-height: 2rem;


    & canvas{
        grid-area: 2/2/2/2;
    }
    
    & .txt1{
        font-size: 25px
    }
    & h1{
        position: absolute;
        top: 1%;
        left: 1%;
        font-size: 30px;
    
    }
        
    

        & ul{
            grid-area: 4/1/4/3;
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            column-gap: 2%; 
            
            & li{
      cursor: pointer;}
    }
  
    & p{
        grid-area: 2/1/2/1;
        font-family: ak;
       
    }
    & li.active{
        border-bottom: 2px solid #fff;
    }
    }
   
