.container_home{
    height: 100%;
    width: 100%;
    color: #fff;
    font-family: Mael;
    position: relative;
    
    & p{
     position: absolute;
     left: 50%;
     top: 15%;
     font-size: 12vw;
    }

    #month{
        font-size: 6vw;
    }
}