.container_home{
    height: 100%;
    width: 100%;
    color: #fff;
    font-family: Mael;
    position: relative;
    opacity:0;
    
    #baseline{
        width: 30%;
        height: 30%;
        font-family: ak;
        font-size: 20px;
        position: absolute;
        left: 59%;
        top: 50%;
    }
    
    
    & p{ 
     opacity: 0;
     position: absolute;
     left: 50%;
     top: 15%;
     font-size: 12vw;
    }

    #month{
        font-size: 6vw;
    }
}