.container_home{
    height: 100%;
    width: 100%;
    color: #fff;
    font-family: Mael;
    position: relative;
    opacity:0;
   #city{
        width: 180px;
        height: 180px;
        z-index: 5000;
        
        position: absolute;
        top: 2%;
        left: 85vw;
     }

 
    
    #baseline{
        padding: 5px;
        line-height: 35px;
        place-items: center;
        align-items: center;
        display: grid;
      grid-template: 40% 60% / 100%;
        background-color: rgba(0, 0, 0, 0.222);
        border-radius: 5px;
        width: fit-content;
        height: 150px;
        font-family: ak;
        font-size: 20px;
        position: absolute;
        left: 0%;
        top: 52%;
        font-size: 2vw;
        text-shadow: 2px 2px 2px black;
    }
   #baseline #baseline1{
        font-family: lemonlight;
        grid-area: 1/1/1/1;
    }
    #digital{
        font-family: LEMONMILK;
        grid-area: 2/1/2/1;
        font-size: 5vw;
    }
    
    & p{ 
        grid-area: 1/1/1/1;
        font-family: lemonlight;
     opacity: 0;
         font-size: 4vw;
    }
   
    
    #month{
        font-size: 3vw;
    }
}