foreignObject{
    
    
    
    &:hover{
        filter: drop-shadow(0px 5px 10px rgb(251, 251, 251));
        // background-color: rgb(119, 8, 8);
        // color: rgb(119, 8, 8);
        // animation: Pulse 3s infinite;
    }
   
    
}

#about, #home, #cases, #contact{
    font-family: lemonlight;
    z-index: 8000;
 position: relative;
    cursor: pointer;
}
@keyframes Pulse {
    0%{ filter: drop-shadow(0px 5px 10px rgb(251, 251, 251))}
    33%{ filter: drop-shadow(none)}
    66%{ filter: drop-shadow(0px 5px 10px rgb(255, 255, 255))}
    100%{ filter: drop-shadow(none)}

}
#home.active, #about.active, #contact.active, #cases.active{
    
        //  border-right: 2px solid #fff;
         border-left: 3px solid #fff;
         // border-top: 10px solid #fff;
        // border-top: 10px solid #fff;
        // border-top: 5px groove #fff;
        // border-left: 5px groove #fff;
        
        padding-top: 4px;
        
       
    
    
}