$road:"/assets/fonts";

@font-face {
    font-family: hand;
    src: url("#{$road}/Vogue.ttf");
  }
  
@font-face {
      font-family: Druk;
      src: url("#{$road}/Druk.ttf");
    }
@font-face {
      font-family: Ak;
      src: url("#{$road}/Akzidenz.ttf");
    }
@font-face {
      font-family: horizon;
      src: url("#{$road}/HorizonFont/Horizon.otf");
    }
@font-face {
      font-family: Sulcant;
      src: url("#{$road}/Sulcant.ttf");
    }
    @font-face {
      font-family: LemonMilk;
      src: url("#{$road}/LEMONMILK-Bold.otf");
    }
    @font-face {
      font-family: lemonlight;
      src: url("#{$road}/LEMONMILK-Light.otf");
    }
  