@font-face {
  font-family: hand;
  src: url("/assets/fonts/Vogue.ttf");
}
@font-face {
  font-family: Druk;
  src: url("/assets/fonts/Druk.ttf");
}
@font-face {
  font-family: Ak;
  src: url("/assets/fonts/Akzidenz.ttf");
}
@font-face {
  font-family: horizon;
  src: url("/assets/fonts/HorizonFont/Horizon.otf");
}
@font-face {
  font-family: Sulcant;
  src: url("/assets/fonts/Sulcant.ttf");
}
@font-face {
  font-family: LemonMilk;
  src: url("/assets/fonts/LEMONMILK-Bold.otf");
}
@font-face {
  font-family: lemonlight;
  src: url("/assets/fonts/LEMONMILK-light.otf");
}
@font-face {
  font-family: wave;
  src: url("/assets/fonts/Demo_Fonts/waverly-bold.otf");
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --raisin-black: #131313;
  --dark-liver: rgba(71, 71, 77, 1);
  --eerie-black: rgba(30, 30, 30, 1);
  --smoky-black: rgba(12, 11, 10, 1);
  --onyx: rgba(66, 65, 70, 1);
  --white: #fff;
  --shadow-color: #fff;
  --red: rgba(119, 8, 8);
}

header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  width: 98vw;
  color: var(--white);
}
header #social {
  justify-self: center;
}
header #social li a span {
  font-family: lemonlight;
}
header #social li a strong {
  letter-spacing: 2px;
}
header #info li {
  font-size: 20px;
}
header > a {
  margin-left: 10px;
  grid-area: 1/3/1/3;
  color: var(--white);
  font-family: Druk;
  font-weight: 500px;
  font-style: normal;
  font-stretch: normal;
  font-size: 40px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 0.85em;
  backface-visibility: hidden;
  place-self: start;
}
header > ul > li {
  font-family: lemonlight;
  color: var(--white);
  list-style: none;
  text-decoration: none;
}
header > ul > li > a {
  font-family: lemonlight;
  color: var(--white);
  font-weight: 500;
  list-style: none;
  text-decoration: none;
}

@media screen and (max-width: 770px) {
  header {
    grid-template: 10vh 10vh/20vw 20vw 20vw 70vw;
  }
}
@media screen and (max-height: 790px) {
  #logo {
    font-size: 30px;
  }
}
@media screen and (max-width: 903px) {
  header {
    grid-template: 10vh 10vh/35vw 20vw 20vw 25vw;
  }
}
main {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template: 80vh/20% 80%;
  transition: margin-right 4s cubic-bezier(0.47, 0, 0.745, 0.715);
}

#nav g > foreignObject > button {
  background: none;
  border: none;
  text-transform: uppercase;
  color: var(--white);
  font-family: lemonlight;
  font-size: 1.5vw;
  font-weight: 800;
  letter-spacing: 0.1em;
  margin-left: 10%;
}
#nav g > text {
  font-family: ak;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

@media screen and (max-width: 790px) {
  #nav g > foreignObject > button {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 1.5vw;
  }
}
@media screen and (max-height: 724px) {
  #anim g > text {
    display: none;
  }
}
body {
  background: center/cover url("/assets/img/statue.jpg") no-repeat;
  position: relative;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template: 80% 19%/100%;
  justify-items: center;
}

#questionMark {
  font-family: lemonlight;
  font-weight: 50px;
}

#MenuActive {
  backdrop-filter: blur(5px);
  background-blend-mode: overlay;
}

h1, h2, p {
  text-shadow: 2px 2px 2px black;
}

.container_home {
  height: 100%;
  width: 100%;
  color: #fff;
  font-family: Mael;
  position: relative;
  opacity: 0;
}
.container_home #baseline {
  padding: 5px;
  line-height: 35px;
  place-items: center;
  align-items: center;
  display: grid;
  grid-template: 40% 60%/100%;
  background-color: rgba(0, 0, 0, 0.222);
  border-radius: 5px;
  width: 90%;
  height: 150px;
  font-family: ak;
  font-size: 20px;
  position: absolute;
  left: 0%;
  top: 52%;
  font-size: 2vw;
  text-shadow: 2px 2px 2px black;
}
.container_home #baseline1 {
  font-family: lemonlight;
  grid-area: 1/1/1/1;
}
.container_home #digital {
  font-family: LEMONMILK;
  grid-area: 2/1/2/1;
  font-size: 5vw;
}
.container_home p {
  grid-area: 1/1/1/1;
  font-family: lemonlight;
  opacity: 0;
  font-size: 4vw;
}
.container_home #city {
  display: grid;
  grid-template: 80% 20%/100%;
  flex-direction: row;
  font-family: lemonlight;
  opacity: 0;
  position: absolute;
  height: fit-content;
  left: 85%;
  top: 5%;
  font-size: 1vw;
  justify-content: center;
  align-items: center;
}
.container_home #citytxt {
  grid-area: 2/1/2/1;
  place-self: center;
}
.container_home #month {
  font-size: 3vw;
}

.main_about {
  display: grid;
  grid-template: 50% 70%/60% 40%;
}

.container_about {
  vertical-align: bottom;
  grid-area: 2/1/2/1;
  position: relative;
  background-color: rgba(0, 0, 0, 0.222);
  border-radius: 5px;
  width: 100%;
  height: 60%;
  color: #fff;
  font-family: lemonlight;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-shadow: 2px 2px 2px black;
  line-height: 2rem;
  pointer-events: none;
  cursor: none;
  opacity: 0;
}
.container_about h1 {
  text-transform: uppercase;
  margin-bottom: 10%;
}

#canvas {
  width: 100%;
  height: 100%;
  pointer-events: none;
  cursor: none;
  grid-area: 1/2/2/2;
  opacity: 0;
  pointer-events: none;
  cursor: none;
}

foreignObject:hover {
  filter: drop-shadow(0px 5px 10px rgb(251, 251, 251));
}

#about, #home, #cases, #contact {
  font-family: lemonlight;
  z-index: 8000;
  position: relative;
  cursor: pointer;
}

@keyframes Pulse {
  0% {
    filter: drop-shadow(0px 5px 10px rgb(251, 251, 251));
  }
  33% {
    filter: drop-shadow(none);
  }
  66% {
    filter: drop-shadow(0px 5px 10px rgb(255, 255, 255));
  }
  100% {
    filter: drop-shadow(none);
  }
}
#home.active, #about.active, #contact.active, #cases.active {
  border-left: 3px solid #fff;
  padding-top: 4px;
}

.main_contact {
  display: flex;
}

.container_contact {
  font-size: 40px;
  position: relative;
  width: 100%;
  height: 100%;
  color: #fff;
  font-family: druk;
  display: grid;
  grid-template: 50% 50%/60% 40%;
  align-items: center;
  flex-direction: row;
  text-align: center;
  line-height: 2rem;
  opacity: 0;
}
.container_contact canvas #leftContact {
  opacity: 0;
}
.container_contact #leftContact {
  width: 100%;
  place-self: center;
  font-family: lemonlight;
  font-weight: 700;
  grid-area: 2/1/2/1;
  background-color: rgba(0, 0, 0, 0.222);
  border-radius: 5px;
}
.container_contact canvas {
  vertical-align: bottom;
  grid-area: 2/2/2/2;
}
.container_contact h1 {
  padding: 20px;
  line-height: 43px;
}
.container_contact ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.container_contact ul li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  padding-bottom: 20px;
}
.container_contact ul li a:hover {
  filter: invert(0%);
  transform: scale(1.5);
}
.container_contact #calltoAction {
  padding-top: 10px;
  color: #000;
  text-shadow: #fff 2px 2px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.container_contact #calltoAction a {
  display: inline-block;
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 903px) {
  #leftContact {
    font-size: 20px;
  }
}
.txt1 {
  grid-area: 1/1/1/3;
}

.container_cases {
  display: grid;
  align-items: center;
  text-align: center;
  grid-template: 33% 47% 20%/60% 40%;
  opacity: 0;
  position: relative;
  width: 100%;
  height: 100%;
  color: #fff;
  font-family: druk;
  line-height: 2rem;
}
.container_cases canvas {
  grid-area: 2/2/3/2;
  place-self: flex-start;
}
.container_cases .txt1 {
  font-family: lemonlight;
  font-size: 15px;
  justify-self: flex-start;
}
.container_cases h1 {
  font-family: lemonmilk;
  position: absolute;
  top: 10%;
  left: 0%;
  font-size: 30px;
}
.container_cases ul {
  grid-area: 4/1/4/1;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  column-gap: 2%;
}
.container_cases ul li {
  cursor: pointer;
}
.container_cases p {
  grid-area: 2/1/2/1;
  font-family: lemonlight;
  background-color: rgba(0, 0, 0, 0.222);
  border-radius: 5px;
  place-self: flex-end;
}
.container_cases #project, .container_cases #github {
  grid-area: 3/1/3/1;
  transition: 0.5s;
}
.container_cases #project {
  justify-self: center;
}
.container_cases #project:hover, .container_cases #github:hover {
  transform: scale(1.5);
}
.container_cases li {
  opacity: 0.3;
}
.container_cases li:hover {
  opacity: 0.75;
}
.container_cases li.active {
  border-bottom: 2px solid #fff;
  opacity: 1;
}

.isMobile main {
  display: grid;
  grid-template: 100%/100%;
}
.isMobile #nav, .isMobile #anim, .isMobile #social {
  display: none;
}
.isMobile #toggle {
  display: block;
  position: fixed;
  right: 0;
  top: 5px;
  width: 60px;
  height: 60px;
  background: url("/assets/icone/menu.png");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
  z-index: 9990;
}
.isMobile #toggle.active {
  background: url("/assets/icone/close.png");
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
}
.isMobile #menu {
  position: relative;
  display: none;
  font-family: Druk;
  flex-direction: column;
  list-style: none;
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, rgba(2, 0, 36, 0.764) 5%, rgba(84, 10, 70, 0.709) 64%);
  transition: 0.2s ease;
  transform: translateX(150%);
  -webkit-transform: translateX(150%);
}
.isMobile #menu #home, .isMobile #menu #about, .isMobile #menu #contact, .isMobile #menu #cases {
  padding: 8px;
}
.isMobile #menu li {
  font-family: Druk;
  text-decoration: none;
  font-size: 24px;
  color: #fff;
  transition: 0.2s;
  text-transform: uppercase;
}
.isMobile #menu.active {
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
  display: flex;
  width: 100%;
}
.isMobile #menu #home.active, .isMobile #menu #about.active, .isMobile #menu #contact.active, .isMobile #menu #cases.active {
  border-right: 0px solid #fff;
  border-left: 0px solid #fff;
}
.isMobile header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.isMobile header #info2 {
  display: none;
}
.isMobile #main {
  grid-template: 100%/100%;
}
.isMobile .container_about {
  display: flex;
  justify-self: flex-end;
  grid-area: 1/1/1/2;
  font-size: 10px;
  height: 100%;
}
.isMobile .container_home {
  grid-area: 2/1/2/1;
  position: relative;
}
.isMobile .container_home #baseline {
  font-size: 15px;
  line-height: 20px;
  left: 30%;
  width: 50%;
  top: 55%;
}
.isMobile .container_cases {
  grid-template: 20% 20% 50% 10%/100%;
  height: 100vh;
  width: 100vw;
}
.isMobile .container_cases h1 {
  display: none;
}
.isMobile .container_cases #github {
  display: none;
}
.isMobile .container_cases ul {
  grid-area: 4/1/4/1;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.isMobile .container_cases ul li {
  margin: 3px;
}
.isMobile .container_cases p {
  grid-area: 3/1/3/1;
}
.isMobile .container_contact {
  display: grid;
  position: relative;
  grid-template: 40% 60%/100%;
}
.isMobile .container_contact #leftContact {
  background-color: rgba(0, 0, 0, 0.222);
  border-radius: 5px;
  height: 40%;
}
.isMobile .container_contact canvas {
  place-self: center;
  grid-area: 2/1/2/1;
  cursor: no-pointer;
  pointer-events: none;
}
.isMobile .container_contact h1 {
  place-self: center;
  top: 25%;
  font-size: 15px;
}
.isMobile .container_contact ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=output.css.map */
